<main class="p-5">
    <div class="card p-5">
        <p id="test">Hello 	world! 	Wellcome my dear friend. </p>
        <span id="uppercase">Всі великі</span>
        <span id="lowercase">Всі маленькі</span>
        <span id="capitalize">Велика перша</span>
			
        <pre>		iuedhgaf</pre>
</main>