@import '/css/var.css';

@font-face {
	font-family: 'Segment';
	src: url('/font/Segment-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Segment';
	src: url('/font/Segment-SemiBold.otf');
	font-weight: 600;
}

@layer normalize, main, secondary, first;

@layer first {
	.card_button {
		background-color: red;
	}
}



/* ================================= */

.page {
	background: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: var(--page-width);
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 80px;
	padding-top: 74px;
}

/* ================	HEADER =============================== */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
	position: fixed;
	max-width: var(--page-width);
	width: 100%;
	top: 0;
	/* left: calc(50% - (var(--page-width) / 2)); */
	background-color: var(--color-white);
	z-index: 1;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-primary);
	
	width: 24px;
	height: 24px;
	border-radius: calc(var(--border-radius) / 2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}

.nav_inLine {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}
.nav_link {
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;

	line-height: 100%;
}

.nav_link:hover {
	text-decoration: underline;
	color: blue;
}

/* ==================== HERO ================================ */

.hero {
	display: flex;
	align-items: center;
	gap: var(--size-b);
	padding: var(--space-l);
	border-bottom: 1px solid var(--color-border);
}

.hero_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}
.hero_slider_icon {
	width: 30px;
	height: 30px;
	background: var(--color-primary);
	color: var(--color-white);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 15px);
}

.hero_slider_icon:hover {
	opacity: 0.5;
	cursor: pointer;
}

.hero_slider {
	position: relative;
}

.hero_slider_left {
	left: var(--space-l);
}

.hero_slider_right {
	right: var(--space-l);
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.hero_title {
	font-size: 50px;
	font-weight: var(--weight-title);
	color: var(--color-title);
	line-height: 120%;
}

.hero_text {
	color: var(--color-text);
	font-size: var(--size-l);
	font-weight: var(--weight-text);
	line-height: 170%;
}

/*======================= FOOTER ======================*/

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}					
.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top: var(--space-l);
}	
.footer_title {
	font-size: var(--size-l);
	font-weight: var(--weight-title);
	color: var(--color-title);

	display: block;
	margin-bottom: var(--space-l);
}

/*==================== BLOG ===========================*/

.blog {
	display: flex;
	gap: var(--size-b);
	padding: var(--space-l);
	border-bottom: 1px solid var(--color-border);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: var(--space-l);
}

.card_image {
	height: 140px;
	width: 140px;
	border-radius: 50%;
}

.card_title {
	font-size: 32px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.card_text {
	font-weight: 400px;
	font-size: var(--size-d);
	color: var(--color-text);
}

@layer main {
.button {
	display: inline-block;
	font-size: var(--size-d);
	text-decoration: none;
	padding: var(--space-m) var(--space-xm);
	border-radius: var(--border-radius);
}

.button:hover {
	opacity: 0.7;
}
}

@layer secondary {
	.card_button {
		color: var(--color-white);
		background: var(--color-primary);
	}
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-l);
	border-radius: var(--border-radius);
	background: var(--color-primary);
}

.form_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}

.form_title {
	font-size: 27px;
	font-weight: var(--weight-title);
	color: var(--color-white);
}

.form_info {
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: var(--color-white);
}

.form_button {
	background: var(--color-white);
	width: 100%;
	max-width: 160px;
	color: var(--color-text);
}

.modal {
	position: sticky;
	top: 24px;
	left: 220px;
	width: 600px;
	background: #212529;
	color: #ffffff;
	padding: 24px;
	border-radius: 24px;
	line-height: 150%;
	z-index: 2;
}

.modal_image {
	height: 100px;
	width: 100px;
	float: left;
}

.blog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media all and (max-width: 800px) {
	grid-template-columns: repeat(2, 1fr);
}

.form {
	gap: var(--space-l);
}

@media all and (width <= 560px) {
	.form {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.form_info {
		max-width: 300px;
		width: 100%;
		line-height: 150%;
	}
	.form_content {
		align-items: center;
		text-align: center;
	}
}

.hero_container {
	container-type: inline-size;
	container-name: hero;
}

@container hero (width < 960px) {
	.hero {
		flex-direction: column;
	}
}

.hero_title {
	font-size: 5cqw;
}